<<define "common_app">>
<script>
Vue.material.registerTheme('default',{
    primary: 'red',
    accent: 'black'
});

app = new Vue({
    el: '#app',
    data: {
	user: {'name':'prasang',"phone":"phone"},
	marketplace:'uber',
	templates: []
    }
});

</script>
<<end>>