<<define "common_app">>
<script>
Vue.material.registerTheme('default',{
    primary: 'black',
    accent: '#b21d21'
});

app = new Vue({
    el: '#app',
    data: {
	user: {'name':'prasang',"phone":"phone"},
	marketplace:'uber',
	templates: []
    }
});

</script>
<<end>>