<<define "header_backup">>
    <!DOCTYPE html>
    <html>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="<<.StaticHost>>/css/vue-material.css" />
        <link rel="stylesheet" href="<<.StaticHost>>/css/style.css" />
        <script src="<<.StaticHost>>/js/vue.js"></script>
        <script src="<<.StaticHost>>/js/vue-material.js"></script>
        <script src="<<.StaticHost>>/js/jquery-3.1.1.min.js"></script>
        <script src="<<.StaticHost>>/js/underscore-min-1-6.js"></script>
        <script src="<<.StaticHost>>/js/commonwidgets.js"></script>
        <script src="<<.StaticHost>>/js/taffy-min.js"></script>
        <script src="<<.StaticHost>>/js/config/vue.js"></script>

        <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
        <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="<<.StaticHost>>/js/config/<<.Config>>.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Calibri');
            @import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Source+Sans+Pro');
        </style>

        </style>
        <script>
            BF = JSON.parse( << .JSON >> )
        </script>
        <title>
            RubberBand
        </title>
        <link rel="icon" href="<<.StaticHost>>/images/logo/LOGOv2.png">
    </head>

    <body>

        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '2160853304235441',
                    cookie: true,
                    xfbml: true,
                    version: 'v3.1'
                });

                FB.AppEvents.logPageView();
                FB.getLoginStatus(function(response) {
                    console.log("getLoginstatus called");
                    //console.log(response.authResponse.userID);
                    if (response.status === 'connected') {
                        console.log("Already connected,check if Musician exists");
                        var http = new XMLHttpRequest();
                        var url = "/api/profileCheck/" + response.authResponse.userID;
                        $.getJSON(url, function(data) {

                            if (data.success) {
                                console.log("This means Musician exists")
                                console.log("Disappear the FB login button")
                                document.getElementById("loginDiv").style.display = 'none';
                                document.getElementById("signupDiv").style.display = 'none';
                                document.getElementById("logout").style.display = 'block';
                                if ('<<.CurrentPage>>' === 'index') {
                                    console.log("This is the index page");
                                    document.getElementById("profileDiv").style.display = 'block';
                                }

                            } else {
                                console.log("Musician is logged out, but is connected");
                                document.getElementById("loginDiv").style.display = 'block';
                                document.getElementById("signupDiv").style.display = 'block';
                            }
                        });

                    } else {
                        console.log("Not Connected yet lets make them login");
                        if ('<<.CurrentPage>>' != 'index') {
                            window.location = "/";
                        }
                    }
                });

            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId=891327687616015&autoLogAppEvents=1';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            //This is the same functionality as above, but for the ones who will click on the FB button
            function checkLoginState() {
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });
            }

            function statusChangeCallback(response) {

                console.log(response.status);
                if (response.status === 'connected') {
                    console.log("Already connected,check if Musician exists");
                    var http = new XMLHttpRequest();
                    var url = "/api/profileCheck/" + response.authResponse.userID;
                    $.getJSON(url, function(data) {

                        if (data.success) {
                            console.log("This means Musician exists")
                            console.log("Disappear the FB login button")
                            document.getElementById("loginDiv").style.display = 'none';
                            document.getElementById("signupDiv").style.display = 'none';
                            document.getElementById("logout").style.display = 'block';
                            if ('<<.CurrentPage>>' === 'index') {
                                console.log("This is the index page");
                                window.location = "/profile/" + response.authResponse.userID;
                            } else {
                                //Now we have to check if someone else is using somebody elses data
                                if ('<<.UserID>>' === response.authResponse.userID) {

                                } else {
                                    window.location = "/profile/" + response.authResponse.userID;
                                }
                            }

                        } else {
                            console.log("Musician is logged out, but is connected");
                            window.location = "/signup?id=" + response.authResponse.userID + "&fbToken=" + response.authResponse.accessToken;
                        }
                    });

                } else {
                    // if('<<.CurrentPage>>'!= 'index'){
                    //   window.location="/";
                    // }
                }
            }

            function logout() {
                console.log("logout called");
                FB.getLoginStatus(function(response) {
                    console.log(response.authResponse.userID);
                    var http = new XMLHttpRequest();
                    var url = "/api/profileLogout/" + response.authResponse.userID;
                    $.getJSON(url, function(data) {

                        if (data.success) {

                            document.getElementById("loginDiv").style.display = 'block';
                            document.getElementById("signupDiv").style.display = 'block';
                            document.getElementById("logout").style.display = 'none';

                            console.log("This is the index page");
                            window.location = "/";

                        }
                    });

                });

            }

            function myProfile() {
                console.log("myProfile called");
                FB.getLoginStatus(function(response) {
                    console.log(response.authResponse.userID);
                    var http = new XMLHttpRequest();
                    window.location = "/profile/" + response.authResponse.userID;

                });

            }
        </script>

        <script>
            $('#exampleModal').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('New message to ' + recipient)
                modal.find('.modal-body input').val(recipient)
            })
        </script>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Signup or Login using Facebook</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>

                            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" scope="public_profile,email" onlogin="checkLoginState();"></div>
                        </div>

                    </div>
                    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div> -->
                </div>
            </div>
        </div>
        <<end>>