<<define "header">>
<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="<<.StaticHost>>/images/logo/LOGOv2.png" type="image/png" sizes="16x16">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>RubberBand</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
 
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Source+Sans+Pro" rel="stylesheet">
  <link rel='stylesheet' id='shoreditch-style-css'  href='<<.StaticHost>>/css/shoreditch.css' type='text/css' media='all' />
  <style id='dry_awp_theme_style-inline-css' type='text/css'>
  @media screen and (max-width: 1024px) { .csColumn {   clear: both !important;   float: none !important;   text-align: center !important;    margin-left:  10% !important;   margin-right: 10% !important;   width: 80% !important;  } .csColumnGap {    display: none !important; }}
</style>
<link rel="stylesheet" href="<<.StaticHost>>/css/bootstrap.min.css" />
<link rel="stylesheet" href="<<.StaticHost>>/css/vue-material.css" />
<link rel="stylesheet" href="<<.StaticHost>>/css/style.css" />
<style type="text/css">
.site-title,
.site-description {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>

<script type="text/javascript" id="sns_global_scripts_in_head"></script>
<script src="<<.StaticHost>>/js/config/<<.Config>>.js"></script>
<script src="<<.StaticHost>>/js/vue.js"></script>
<script src="<<.StaticHost>>/js/vue-material.js"></script>
<script src="<<.StaticHost>>/js/config/vue.js"></script>
<script src="<<.StaticHost>>/js/jquery-3.1.1.min.js"></script>
<script src="<<.StaticHost>>/js/underscore-min-1-6.js"></script>
<script src="<<.StaticHost>>/js/commonwidgets.js"></script>
<script src="<<.StaticHost>>/js/taffy-min.js"></script>

<link rel="stylesheet" href="<<.StaticHost>>/css/style.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="width:100%;" class="home sticky-header">

<<end>>