<<define "home">>
<<template "header" .>>
	 <style> 

 .home {
        background-image: url("<<.StaticHost>>/images/assets/background_landing1.png");
        background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    border-top:black;
    z-index: -1;

} 
</style>


   <<template "partial_home" .>>

<<template "footer" .>>
<<template "common_app" .>>
</div>
</body></html>
<<end>>