<<define "home">>
<<template "header" .>>
	 <style> 

 .PYW {
        background-image: url("<<.StaticHost>>/images/assets/background_landing1.png");
        background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    border-top:black;
    z-index: -1;

} 
</style>
<div id="app" class="md-theme-default">
  <toolbar></toolbar> 
   <<template "partial_home" .>>
</div>
<<template "footer" .>>
<<template "common_app" .>>
</body></html>
<<end>>