<<define "partial_home">>

<div id="PYWid" class="PYW">
	 <h1 class="PROVE-YOUR-WORTH" style="padding-top:12em;margin:0px">PROVE YOUR WORTH</h1>
	 <h1 class="WITH-RUBBERBAND">WITH RUBBERBAND</h1>
	 <h1 class="description-text">Some description text</h1>
	 <div id="parent_div" style="padding-bottom: 20em;">
	 <div id="left" style="float:left; margin-left:35%;width:15%;align-items:center;">
	 <md-button class="Rounded-Rectangle-8" data-toggle="modal" data-target="#exampleModal" >GET STARTED</md-button>

	</div>

	<div id="right" style="margin-right:35%;margin-left: 51%;width:15%;">
	 <md-button class="Rounded-Rectangle-8-copy" data-toggle="modal" data-target="#exampleModal">LEARN MORE</md-button>

	</div>

	</div >

</div>
<div class="music-logo" style="margin-top: -3em;z-index: 2;" >
		<img style="display: block;margin-left: auto;margin-right: auto;
  height: 100px;
  object-fit: contain;
"src="<<.StaticHost>>/images/assets/Music_Down_Final.png">	
	</div>
<div class="row" style="margin-top:5em;margin-left: 10em;margin-right: 10em;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<<.StaticHost>>/images/assets/Music_Down_Final.png" alt="1">
      <div class="caption">
        <h3 class="description">Sleek Design</h3>
        <p>Some description as to what this is</p>
        <p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<<.StaticHost>>/images/assets/Music_Down_Final.png" alt="1">
      <div class="caption">
        <h3 class="description">Clean Code</h3>
        <p>Some description as to what this is</p>
        <p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<<.StaticHost>>/images/assets/Music_Down_Final.png" alt="1">
      <div class="caption">
        <h3 class="description">Creative ideas</h3>
        <p>Some description as to what this is</p>
        <p>
      </div>
    </div>
  </div>
</div>
</div>
<<end>>
