<<define "partial_home">>

<div id="PYWid" class="PYW">
	 <h1 class="PROVE-YOUR-WORTH" style="padding-top:12em;margin:0px">PROVE YOUR WORTH</h1>
	 <h1 class="WITH-RUBBERBAND">WITH RUBBERBAND</h1>
	 <h1 class="description-text">Some description text</h1>
	 <div id="parent_div" style="margin-bottom: 20em;">
	 <div id="left" style="float:left; margin-left:35%;width:15%;align-items:center;">
	 <md-button class="Rounded-Rectangle-8" data-toggle="modal" data-target="#exampleModal" >GET STARTED</md-button>

	</div>

	<div id="right" style="margin-right:35%;margin-left: 51%;width:15%;">
	 <md-button class="Rounded-Rectangle-8-copy" data-toggle="modal" data-target="#exampleModal">LEARN MORE</md-button>

	</div>

	</div >
	
	<div class="music-logo" style="" >
		<img style="display: block;margin-left: auto;margin-right: auto;width: 100px;
  height: 100px;
  object-fit: contain;
"src="<<.StaticHost>>/images/assets/Music_down.png">	
	</div>

</div>


<<end>>
