<<define "profile_toolbar">>
  <div>
    <template id="profile_toolbar">
      <div id="thisistoolbar"style="position:sticky;position: -webkit-sticky;">
        <md-toolbar id="toolbarHeader" style="background-color: #b21d21;">

          <md-layout md-gutter="10">


            <md-button  style="margin-left: 15em;"href="/"><h3 class="PROFILE-BANNER">Profile</h3>
            </md-button>
            <md-button href="/"><h3 class="PROFILE-BANNER">Bands</h3>
            </md-button>
            <md-button href="/"><h3 class="PROFILE-BANNER">Ratings</h3>
            </md-button>

            <md-button href="/"><h3 class="PROFILE-BANNER">Calender</h3>
            </md-button>    



          </md-layout>




        </md-toolbar>
      </div>
    </template>
    <<template "toolbarjs" . >>
    </div>
    <<end>>