<<define "profile">>
<<template "header" .>>
<div id="app" class="md-theme-default">
  <toolbar></toolbar>
 <md-layout md-gutter="10">
  <div class="col-md-12 topper">
   <<template "partial_profile" .>>
  </div>
</md-layout>
</div>

<<template "footer" .>>
<<template "common_app" .>>
</body></html>
<<end>>

