<<define "sidebar">>
<template id="sidebar">
  <div>
    <<template "nav_profile" .>>
    <md-list>
      <md-list-item @click="$refs.sidenav.toggle()" class="md-primary">
        <md-icon>insert_drive_file</md-icon> <span>My files</span>
      </md-list-item>

      <md-list-item @click="$refs.sidenav.toggle()">
        <md-icon>people</md-icon> <span>Shared with me</span>
      </md-list-item>

      <md-list-item @click="$refs.sidenav.toggle()">
        <md-icon>access_time</md-icon> <span>Recent</span>
      </md-list-item>

      <md-list-item @click="$refs.sidenav.toggle()">
        <md-icon>start</md-icon> <span>Starred</span>
      </md-list-item>

      <md-list-item @click="$refs.sidenav.toggle()">
        <md-icon>delete</md-icon> <span>Trash</span>
      </md-list-item>
    </md-list>
  </div>
</template>
<script src="<<.StaticHost>>/js/sidebar.js"></script>
<<end>>

