<<define "toolbar">>
  <template id="toolbar">
    <header id="main_menu" class="header navbar-fixed-top">            
        <div class="main_menu_bg">
            <div class="container">
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#home">
                                        <img src="<<.StaticHost>>/images/logo/iLogov2.png"/>
                                    </a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->


                                <span>
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="max-height: 600px">

                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#home">HOME</a></li>
                                            <li><a href="#history">ABOUT US</a></li>
                                            <li><a href="#portfolio">PORTFOLIO</a></li>
                                            <li><a href="#pricing">PRICING</a></li>
                                            <li><a href="#team">TEAM</a></li>
                                            <li><a href="#blog">BLOG</a></li>
                                            <li><a href="#contact">CONTACT</a></li>
                                            <li id="loginDiv" class="loginButton" >
                                                <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" scope="public_profile,email" onlogin="checkLoginState();"></div>
                                            </li>
                                            <li id="signupDiv" class="loginButton" style="display: none;"><a href="" data-toggle="modal" data-target="#exampleModal" class="btn btn-lg m_t_10">NEW BAND? SIGNUP</a></li>
                                            <li id="logout" class="loginButton" style="display: none;">
                                                <md-button  href="/" onclick="logout()" style="width:100%;"><h3 class="HOME-HOW-IT-WORKS">Logout</h3>
                                                </md-button>
                                                <div id="status"></div>
                                            </li>
                                            <li id="profileDiv" class="loginButton" style="display:none;">
                                                <md-button class="Rounded-Rectangle-8" onclick="myProfile()" style="width:100%;">My Profile</md-button>

                                            </li>
                                        </ul>


                                    </div>
                                    
                                    
                                </span>
                            </div>
                        </nav>
                    </div>  
                </div>

            </div>

        </div>
    </header> <!--End of header -->

</template>
<<template "toolbarjs" . >>
    <<end>>