<<define "toolbar">>
<template id="toolbar">
<md-whiteframe >
  <div class="toolbarbg">
       <md-sidenav class="md-left md-fixed main-navigation" ref="mainNav">
         <sidebar></sidebar>
       </md-sidenav>
      <md-toolbar md-theme="toolbar"  style="color:black;">
  <md-button class="md-button" onclick="window.location.href='/'">
          <img style="width:100px;"
             src="<<.StaticHost>>/images/logo/LOGOv2.png">
  </md-button>  
      
      <h2 class="md-title" style="flex: 1">
        <a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Nav1</span></a>
      <a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Nav2</span></a>
     <a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Nav3</span></a>
     <a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Nav4</span></a>
      </h2>

    
      
      
       <a href="/signup">New band? Signup</a>
      
      <md-button class="md-icon-button">
        <md-icon>account_circle</md-icon>
        <md-tooltip md-direction="left" style="font-size:14px;">Signed in as <<.Email>></md-tooltip>
      </md-button>
      </md-toolbar>

      <md-sidenav class="md-right md-fixed search-panel" ref="searchPanel">
        <md-input-container>
          <label for="search">Search</label>
          <md-input type="search" name="search" id="search"></md-input>
        </md-input-container>
      </md-sidenav>
 </div>
 </md-whiteframe>
</template>
<<template "toolbarjs" . >>
<<end>>