<<define "toolbar2">>
<header id="masthead" class="site-header" role="banner">
			<div class="site-header-wrapper">
				<div class="site-branding">
					<a href="https://bon.pe/" class="custom-logo-link" rel="home" itemprop="url"><img width="240" height="77" src="https://bon.pe/wp-content/uploads/2017/03/cropped-Bonfleet-Final-e1509613788455.png" class="custom-logo" alt="" itemprop="logo" /></a>
					<p class="site-title"><a href="https://bon.pe/" rel="home">Work Now. Pay later.</a></p>
					<p class="site-description">Bon &#8211; Work Now. Pay later.</p>
				</div><!-- .site-branding -->

				<button id="menu-toggle" class="menu-toggle">Menu</button>
				<div id="site-menu" class="site-menu">
					<nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Primary Menu">
						<div class="menu-main-menu-container"><ul id="menu-main-menu" class="primary-menu"><li id="menu-item-659" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-659"><a href="https://bon.pe/blog/bon-seed-round-sep18">Funding</a></li>
							<li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234"><a href="https://bon.pe/about">About</a></li>
							<li id="menu-item-658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-658"><a href="http://angel.co/bon-/jobs">Careers</a></li>
							<li id="menu-item-670" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-670"><a href="https://bon.pe/partnerships">Partnerships</a></li>
							<li id="menu-item-238" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-238"><a href="https://bon.pe/category/article/">Blog</a></li>
							<li id="menu-item-749" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-749"><a href="https://bon.pe/press">Press</a></li>
							<li id="menu-item-235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-235"><a href="https://bon.pe/contact">Contact Us</a></li>
						</ul></div>					</nav><!-- .main-navigation -->
					</div><!-- .site-menu -->
				</div><!-- .site-header-wrapper -->
			</header>
<<end>>