<<define "widgets">>
	<template id="rbrband_profile">
		<<if eq .CurrentPage "profile">>

			<div style="margin:0 15em;">

				<<if eq .User.BandsAssociated 1>>
					Currently, you are associated with 1 band

					<<else>>
						<h2>Currently, you are associated with <<.User.BandsAssociated>> bands</h2>

						<<end>>
							<div v-if="is_bands_associated">
								<ul>
									<li v-for="item in bands_associated" > {{item.band_name}} which performs {{item.genre}} </li> 
								</ul>
							</div>
							<div v-else>
							</div>
							<md-layout md-gutter="10" style="margin-bottom: 10em;">
								<div class="cardDiv" >
									<md-card-media>
										<md-avatar style="margin-left: 20px;">
											<span><img src="<<.User.ProfilePic.Data.URL>>" alt="Avatar">
											</md-avatar>
											<h2><<.User.Name>></h2></span>
										</md-card-media>
										<md-card-header>
											
										</md-card-header>
										
									</div>

									<div style="width:30%;margin-right:10px" >
										<md-card-media>
											
										</md-card-media>
										<md-card-header>
											<div class="text-xs-center">
												<v-rating :value=5></v-rating>
											</div>
											<script>
												export default {
													data: () => ({
														rating: 3
													})
												}
											</script>
											<div class="md-title">
												<h2>YOUR RATINGS</h2>
											</div>
										</md-card-header>
										
									</div>

									<div style="width:30%;margin-right:10px" >
										<md-card-media>
										</md-card-media>
										<md-card-header>
											<div class="md-title">
												<h2>YOUR CALENDER</h2>
											</div>
										</md-card-header>
										
									</div>
								</md-layout>
								<div style="float:right;">
									<h2>Wanna create a new band?</h2>
									<md-button class="Rounded-Rectangle-8-2" @click.native="show_form">Create a New Band</md-button>
									<md-card v-if="show_band_form" md-with-hover class="round">
										<div class="col-md-12">
											<form method="POST" action="/profile/<<.User.ID>>" >						
												<md-input-container>
													<label>Band Name</label>
													<md-input type="text" v-model="band_name" name="band_name" required/>
												</md-input-container>	
												<md-input-container>
													<label>City</label>
													<md-input type="text" v-model="band_location" name="band_location" required />
												</md-input-container>
												<md-input-container>
													<label>Contact Number</label>
													<md-input type="tel" v-model="band_contact" name="band_contact" required/>
												</md-input-container>
												<md-input-container>
													<label>Charge for a gig (in ₹)</label>
													<md-input type="number" v-model="band_charge" name="band_charge" required/>
												</md-input-container>
												<md-input-container>
													<label>Band Genre</label>
													<md-input type="text" v-model="band_genre" name="band_genre" required/>
												</md-input-container>
												<md-input-container>
													<label>Band Description</label>
													<md-textarea md-autogrow type="text" name="band_description" v-model="band_description"/>
												</md-input-container>

												<md-button @click.native="checkForm" type="submit">Form this Band</md-button>

											</form>
										</div>
									</md-card>
									<div>
										<h1><<.BandResponse>></h1>
									</div>
								</div>
								<<end>>
								</template>
								<<end>>