<<define "home">>
<<template "header" .>>
<div id="app" class="md-theme-default">
  <toolbar></toolbar>
  <div class="col-md-1 wd padding">
    <nav_index></nav_index>
  </div>
 <h1><<.Title>></h1>
  <div class="col-md-9 topper">
   <<template "partial_home" .>>
  </div>
</div>

<<template "footer" .>>
<<template "common_app" .>>
</body></html>
<<end>>
