<<define "nav_index">>
<template id="t_nav_index">
 <div class="nav_indexbg">
<!--       <div @click="$refs.sidenav.toggle()"><a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Profile</span></a></div>
      <div @click="$refs.sidenav.toggle()"><a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Profile</span></a></div>
      <div @click="$refs.sidenav.toggle()"><a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Profile</span></a></div>
      <div @click="$refs.sidenav.toggle()"><a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Profile</span></a></div>
      <div @click="$refs.sidenav.toggle()"><a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Profile</span></a></div>
      <div @click="$refs.sidenav.toggle()"><a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Profile</span></a></div>
      <div @click="$refs.sidenav.toggle()"><a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Profile</span></a></div>
      <div @click="$refs.sidenav.toggle()"><a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Profile</span></a></div>
      <div @click="$refs.sidenav.toggle()"><a class="md-button" href="/"><md-icon class="md-size-1x ">home</md-icon><span> Profile</span></a></div>
 -->
</template>
<script>
Vue.component('nav_index', {template: '#t_nav_index'});
</script>
<<end>>